* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  /*position: relative;*/
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.container {
  width:90%;
  margin: 0 auto;
  background-color: rgba(255,255,255, .5);
  height: 800px;
  padding: 32px 0 64px;
}

header {
  width: 100%;
  margin: -32px auto 0;
  background-color: #ffffff;
  height: 50px;
}

nav{
  width: 55%;
  margin: 0 auto;
  background-color: #ffffff;
}

ul{
  list-style: none;
}

#menu li>a{
  background-color: rgba(255, 255, 255, .9);
  color: #052d18;
  padding: 16px 32px;
  display: block;
  text-decoration: none;
  border-right:1px solid #cbcbcb;
}

#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}

#menu>li{
  float: left;
  text-align:center;
}

#menu>li>ul{
  display: none;
  width: 150px;
}

#menu>li:hover>ul {
  display:block;
  position:absolute;
  z-index: 9999;
}

#wrapper {
  font-size: 16px;
  color:#666666;
}

h3 {
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  padding: 16px 0;
}
/* ----- SLIDER ----- */

#contentSlider {
  width:100%;
  height:450px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.slide {
  opacity:.7;
  transform: scale(1);
  animation-name: imagenSlide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes imagenSlide {
  from {transform: scale(1)}
  to {transform: scale(1.3)}
}

.textSlide {
  color: #ffffff;
  text-shadow: 0 0 20px #000;
  z-index: 9999;
  position: absolute;
  top:30%;
  left:30%;
}

.titleSlider {
  font-size: 90px;
  position: absolute;
  top:-300px;
  animation-name: titulo;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes titulo {
  from {top:-300px;}
  to {top:0;}
}

.subtitleSlider {
  width:500px;
  font-size: 60px;
  position: absolute;
  top:600px;
  animation-name: subtitulo;
  animation-duration: .4s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

@keyframes subtitulo {
  from {top:600px;}
  to {top:90px;}
}

.lineup {
  width: 0;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px #000;
  animation-name: lineup;
  animation-duration: .4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes lineup {
  from {width:0;}
  to {width:480px;}
}

.linedown {
  width: 0;
  height: 4px;
  margin-top:160px;
  margin-left: 480px;
  background-color: #ffffff;
  animation-name: linedown;
  animation-duration: .4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes linedown {
  from {width:0;margin-left: 480px;}
  to {width:480px;margin-left: 0;}
}


/* ----- GALERÍA ----- */

#galeria {
  width:75%;
  margin: 0 auto;
}

/* ------- Animaciones de la galería  ------- */

.gallery {
  margin: 5px;
  float: left;
  width: 23%;
  background-color: #e0e0e0;
  border-radius: 4px;
  opacity: 0;
  margin-top: 500px;
  animation-name: galeriaAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.gallery:nth-child(1) { animation-delay: .4s;}
.gallery:nth-child(2) { animation-delay: .8s;}
.gallery:nth-child(3) { animation-delay: 1.2s;}
.gallery:nth-child(4) { animation-delay: 1.6s;}

@keyframes galeriaAnim {
  0%{margin-top:500px;}
  50%{opacity:0;}
  100%{margin-top:0px;opacity:1;}
}

/* ------ /Termina animaciones  de la Galería ------- */
.marco {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: 1s all ease;
}

.gallery:hover img {
  transform: scale(1.2);
}

.desc {
  padding: 15px;
  text-align: center;
}

/* ----- TERMINA GALERÍA ----- */

/* ----- Formulario de comentarios ----- */
form {
  width: 80%;
  margin: 0 auto;
}

legend {
  background-color: #bababa;
  padding:12px 24px;
  color:#ffffff;
  font-size: 12px;
  letter-spacing: 4px;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: lighter;
}

input, textarea {
  padding: 12px;
  border: 1px solid #cbcbcb;
  font-size: 18px;

}

input[type=text], input[type=number] {
  border-radius: 32px;
}

textarea {
  border-radius: 12px;
  resize:none;
  width:95%;
}

.trescuartos {
  width: 64%;
  float: left;
}

.uncuarto {
  width: 25%;
  float: left;
}

.campo-half {
  width:45%;
  float: left;
  margin: 32px 16px 16px;
  line-height: 1.6;
}

select {
    border: 1px solid #cbcbcb;
    font-size: 18px;
    background-color: #cbcbcb;
    width: 250px;
}

.campo {
  margin: 24px 16px 16px;
}

::placeholder {
  color: #ababab;
  font-size: 16px;
}

.boton {
  text-align: center;
}

button {
  background-color: #47b799;
  font-size: 20px;
  font-weight: lighter;
  color:#ffffff;
  padding:12px 24px;
  border-radius: 32px;
  border:none;
  letter-spacing: 4px;
}

button:hover {
  cursor: pointer;
  background-color: #1f705a;
}

.boton {
  margin: 32px 0;
}

fieldset {
  min-width: 80%;
  margin-bottom: 32px;
  border:1px solid #bababa;
  background-color: #f7f7f7;
  border-radius: 8px;
}

#thanks {
  width: 75%;
  margin: 0 auto;
  font-size: 22px;
  padding-top: 32px;
  color:#404040;
  text-align: center;
}

/* ----- Tetmina formulario de comentarios ----- */

.color {
  color: #079b62;
}

.gris_claro {
  font-size: 24px;
  padding: 32px;
  color:#999999;
}

@media only screen and (max-width:1024px){
  .gallery {
    width:47%;
  }

  #galeria {
    width: 90%;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width:720px){
  input[type=text], input[type=number], .trescuartos {
    width:90%;
  }

  .gallery {
    width:80%;
    float: none;
    margin: 16px auto;
  }

  #galeria {
    width: 95%;
  }

  .campo {
    clear:both;
  }
}

@media only screen and (max-width:480px){
  .container {
    width: 97%;
  }

  .gallery {
    width: 100%;
  }

  #galeria {
    width: 95%;
  }
}
